{% extends 'AppBundle::back_layout.html.twig' %}

{% set fluxType = type=="e" ? 'entrée' : 'sortie' %}
{% if app.request.get('_route') == '_challenge_update_flux' %}
    {% set titre = 'Modification ' ~ fluxType ~ ' pour le produit ' ~ produit.titre %}
{% else %}
    {% set titre = 'Création ' ~ fluxType ~ ' pour le produit ' ~ produit.titre %}
{% endif %}

{% block title %}{{ titre }}{% endblock %}
{% block body %}
    <h1>{{ titre }}</h1>
    {{ form_start(form) }}
    <div>{{ form_label(form.date) }} : {{ form_widget(form.date) }}
        <p>{{ form_errors(form.date) }}</p>
    </div>
    <div>{{ form_label(form.qte) }} : {{ form_widget(form.qte) }}
        <p>{{ form_errors(form.qte) }}</p>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#flux_date').datepicker({
            language: 'fr-FR',
            todayHighlight: true,
            autoclose: true
        });
    </script>
{% endblock %}