<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/datatables/jquery.dataTables.min.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/bootstrap/css/bootstrap.min.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/datepicker/datepicker3.css') }}"/>
            <link rel="stylesheet" href="{{ asset("bundles/user/css/bootstrap.css") }}">
            <link rel="stylesheet" href="{{ asset("bundles/user/css/style.css") }}">
            <link rel="stylesheet" href="{{ asset("bundles/user/css/style-responsive.css") }}">
            <link rel="stylesheet" href="{{ asset("bundles/user/font-awesome/css/font-awesome.css") }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% for flashMessage in app.session.flashbag.get('error') %}
            <p>Erreur : {{ flashMessage }}</p>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('success') %}
            <p> Success : {{ flashMessage }}</p>
        {% endfor %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/app/jQuery/jquery-2.2.3.min.js') }}"></script>
            <script src="{{ asset('bundles/app/bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/app/datepicker/bootstrap-datepicker.js') }}"></script>
            <script src="{{ asset('bundles/app/datepicker/locales/bootstrap-datepicker.fr.js') }}"></script>
            <script src="{{ asset('bundles/app/datatables/jquery.dataTables.min.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% endblock %}
    </body>
</html>
